<div>
    <p><img src="{{images.0.url}}"></p>
        <p>
            {{name}}
        </p>
        <p>
            <a href="/albums/tracks/{{id}}">
        View Tracks
            </a>
    </p>
</div>


