<div class="resultcard">
    <p><img src="{{images.0.url}}" class="albumart"></p>
        <h3 class="resultcardbottom">
            {{name}}
        </h3>
        <p class="resultcardbottomref">
            <a href="/albums/{{id}}">
        View Albums
            </a>
    </p>
</div>


